$main-colors: (
  'primary': #3a86ff,
  'secondary': #c77dff,
  'success': #29bf12,
  'error': #e63946,
  'info': #7fc8f8,
  'warning': #f7bb15,
  'black': #000,
  'white': #fff,
);

$primary: #3a86ff;
$secondary: #f2e9a4;
$success: #29bf12;
$error: #e63946;
$info: #7fc8f8;
$warning: #f7bb15;

$dark: #0a0908;
