@use '../abstracts' as *;

$alert_colors: (
  'success': #29bf12,
  'error': #e63946,
  'info': #7fc8f8,
  'warning': #f7bb15,
);

@mixin alert($bg-color, $fg-color, $border-color: transparent) {
  margin: 0.5rem 0;
  border-radius: 4px;
  font-size: 14px;
  max-width: 350px;
  padding: 1rem;
  background-color: $bg-color;
  color: $fg-color;
  border: 1.5px solid $border-color;
}

.alert-close {
  float: right;
  position: relative;
  top: -8px;
  color: #717171;
  font-size: 1.4rem;
  &:hover {
    color: lighten(#717171, 30);
    cursor: pointer;
  }
}

@each $color, $value in $alert_colors {
  .alert-#{$color} {
    @include alert($value, #fff);
  }
}

@each $color, $value in $alert_colors {
  .outline-alert-#{$color} {
    @include alert(transparent, $value, $value);
  }
}
