@use 'colors' as *;
@use '../abstracts' as *;

@mixin default-btn() {
  padding: 0.6rem 0.75rem;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  outline: none;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

@mixin btn($bg-color: #ececec) {
  @include default-btn();
  background-color: $bg-color;
}

/* Solid buttons */
@each $prefix, $value in $main-colors {
  .btn-#{$prefix} {
    @include btn($value);
    color: white;
    &:hover {
      background-color: lighten($value, 5);
    }
  }
}

/* Outline buttons */
@each $prefix, $value in $main-colors {
  .btn-outline-#{$prefix} {
    @include btn(transparent);
    border: 1.5px solid $value;
    color: $value;
    &:hover {
      background-color: lighten($value, 5);
      color: white;
    }
  }
}

.btn {
  @include default-btn();
}

/* Buttons with icon */
.btn-icon {
  @include default-btn;
  color: white;
}
