$font-size: xxs, xs, sm, md, base, lg, xl, 2xl, 3xl, 4xl;
$scale: 0.25, 0.5, 0.75, 1, 1.125, 1.25, 1.5, 2, 3, 4;
$base-scale: 1rem;

$type_scale: (
  'xs': 0.5,
  'sm': 0.75,
  'base': 1,
  'md': 1.125,
  'lg': 1.25,
  'xl': 1.5,
  '2xl': 2,
  '3xl': 3,
  '4xl': 4,
);

@each $scale, $value in $type_scale {
  .text-#{$scale} {
    font-size: #{$base-scale * $value};
  }
}
